@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #141414;
  /* 그래프 카드 배경 */
  --stats-card-bg: linear-gradient(to bottom, #ffffff 0%, #a772cd33 100%);
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Variable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-display: swap;
}

* {
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  color: #141414;
  min-height: 100vh;
}
